{#*********************************************************************************
* DonutCMS is free software: you can redistribute it and/or modify              *        
* it under the terms of the GNU General Public License as published by          *      
* the Free Software Foundation, either version 3 of the License, or             *
* (at your option) any later version.                                           *
*                                                                               *
* DonutCMS is distributed in the hope that it will be useful,                   *
* but WITHOUT ANY WARRANTY; without even the implied warranty of                *
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the                  *
* GNU General Public License for more details.                                  *
*                                                                               *
* You should have received a copy of the GNU General Public License             *
* along with DonutCMS. If not, see <https://www.gnu.org/licenses/>.             *
********************************************************************************#}
{% extends "base.twig" %}

{% block title %}Login - DonutCMS{% endblock %}

{% block content %}
    <section class="section section-page" page>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="page-head -type-home text-ellipsis" title="Account Login">Account <span>Login</span></div>

                    {% for type, messages in flash_messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <div class="news-container -flex">
                        <div class="news-row -full-h">
                            <div class="news-col -md">
                                <form method="post" action="/login/authenticate">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                                    </div>
                                    <div class="post-readmore">
                                        <button type="submit" name="submit" class="btn-blue">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="news-row mt-3">
                        <a href="/register" class="btn-blue -outline -noise text-ellipsis">Create Account</a>
                        <a href="#" class="btn-blue -outline -noise text-ellipsis">Forgot Password?</a>
                        <a href="#" class="btn-blue -outline -noise text-ellipsis">Forgot Username?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}