{#*********************************************************************************
* DonutCMS is free software: you can redistribute it and/or modify              *        
* it under the terms of the GNU General Public License as published by          *      
* the Free Software Foundation, either version 3 of the License, or             *
* (at your option) any later version.                                           *
*                                                                               *
* DonutCMS is distributed in the hope that it will be useful,                   *
* but WITHOUT ANY WARRANTY; without even the implied warranty of                *
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the                  *
* GNU General Public License for more details.                                  *
*                                                                               *
* You should have received a copy of the GNU General Public License             *
* along with DonutCMS. If not, see <https://www.gnu.org/licenses/>.             *
********************************************************************************#}
{% extends "@main/base.twig" %}

{% block title %}Register - TinyCMS{% endblock %}

{% block content %}
<div class="custom-container">
    <div class="custom-card mx-auto mt-4">
        <div class="card-body px-4 py-3">
            <h2 class="text-center title text-white mb-4" style="color:var(--title-text)!important;">REGISTER ACCOUNT</h2>
            <hr class="custom-hr mb-4" style="border-color: var(--main-border);">
            <!-- Display flash messages -->
            {% for type, messages in flash_messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <form method="post" action="/register/submit">
                <div class="form-group mx-auto mt-2">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
                </div>
                <div class="form-group mx-auto mt-2">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                </div>
                <div class="form-group mx-auto mt-2">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                </div>
                <div class="form-group mx-auto mt-2">
                    <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Confirm password" required>
                </div>
                <button type="submit" name="submit" class="btn btn-primary mx-auto d-block mt-3 change-password-button" style="width:43%;">Register Account</button>
            </form>
            <p class="text-center text-white mt-3">Already have an account? Login <a href="/login" style="color: var(--page-text)">Here</a></p>
        </div>
    </div>
</div>
{% endblock %}